*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-image: url(./images/background.avif);
    text-decoration-color: antiquewhite;

}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:#E27D60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a:hover{
    color: #242582;
}

.logo{
    font-size: 35px;
    color:#41B3A3;
    font-weight: 1000;

}
 .navbar a {
    font-size: 20px;
    color:#41B3A3;
    text-decoration:#E27D60 ;
    font-weight: 600;
    margin-left: 70px;
 }

 .navbar a:hover{
    color: #242582;
 }
 .home{
    display: flex;
    align-items: center;
    height: 50vh;
    padding:0 10%;
 }
 .home-content{

    max-width: 600px;
 }

 .home-content h1{
    font-size: 50px;
    font-weight: 700;
 }
 .home-content h3{
    font-size: 30px;
    font-weight: 700;
    color:#05386B;
 }
 .home-content p{
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0 10px;
    line-height: 1.2;
 }
 .home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 40px; 
 }
 .btn-box a{
    display: inline-flex;
    width: 100px;
    height: 100%;
    background-color: #41B3A3;
    border: 2px solid #41B3A3;
    border: radius 8px;
    letter-spacing: 2px;
    text-decoration:none ;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    
    font-size: 20px;
    color: black;
    background-color: #E27D60;
 }
 .links{
    position: absolute;
    bottom: 40px;
    width: 170px;
    background:#41B3A3;
    display: flex;
    justify-content: space-between;
 }
 .links a{
    display: inline-flex;
    width: 40px;
    height: 40px;
    border: 2px solid #41B3A3;
    border-radius: 50%;
 }   